<md-card class="cover fullscreen background mb10" layout-align="center center" style="min-height:400px">
  <md-card-content layout="column" layout-align="center center">
    <h1 class="large">Requester</h1>
    <span flex></span>
  
    <md-card>
      <md-card-content>
        <form name="requesterForm" layout="column" flex>
           <md-input-container style="min-width: 400px;">
            <label>Enter a URL to begin...</label>
            <input type="text" name="url" ng-model="requester.url" required>
          </md-input-container>
          <md-button class="md-accent" type="submit" ng-click="makeRequest()">Submit</md-button>
        </form>
        <div>
          <span>result</span>
          <i class="ion-ios-arrow-down"></i>
        </div>
      </md-card-content>
    </md-card>

  </md-card-content>
</md-card>

<md-card ng-if="requester.response">
  <md-card-content>
    <md-toolbar class="md-primary mb20" layout-align="end center">
        <h1 style="font-weight:100">Response</h1>
    </md-toolbar>
    <pre>{{requester.response}}</pre>
  </md-card-content>
</md-card>
