**/*.log*
**/.DS_Store
**/.firebase
**/node_modules

public/index.html
public/styles-*.min.css
public/assets/css
public/release/
public/.git

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
