**/*.log*
**/.DS_Store
**/node_modules

# firebase cache
**/.firebase

# temporary build files
public/assets/css
public/release/

# build output files
public/index.html
public/*.min.css

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarnrc
