**/*.log*
**/.DS_Store
**/.firebase
**/node_modules

public/index.html
public/*.min.css
public/release/
public/.git

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarnrc
