<md-content id="home-view" layout="column" ng-controller="HomeController" ng-init="init()">
  <div id="hero" class="cover fullscreen center" layout="column" layout-align="center center">
  <span flex></span>
  <div class="fade" ng-show="visible">
    <div class="logo">
      <img src="assets/images/sb-logo-360-light.png"/>
    </div>
    <h1 class="large">sinanbolel</h1>
    <div layout="row" class="mt20">
      <md-button href="https://www.linkedin.com/in/sinanbolel" target="_blank" class="md-fab" aria-label="LinkedIn">
        <md-tooltip>in/sinanbolel</md-tooltip>
        <md-icon class="social-icon-button" md-font-icon="ion-social-linkedin"></md-icon>
      </md-button>
      <md-button href="https://github.com/sbolel" target="_blank" class="md-fab" aria-label="Github">
        <md-tooltip>/sbolel</md-tooltip>
        <md-icon class="social-icon-button" md-font-icon="ion-social-github"></md-icon>
      </md-button>
      <md-button href="https://twitter.com/sinbols" target="_blank" class="md-fab" aria-label="Twitter">
        <md-tooltip>@sinbols</md-tooltip>
        <md-icon class="social-icon-button" md-font-icon="ion-social-twitter"></md-icon>
      </md-button>
    </div>
    <span flex></span>
  </div>
    <span flex></span>
</md-content>
