html, body {
  margin: 0;
  height: auto;
  min-height: 100%;
  background-color: #e8eaf6
}

#content-view {
  height: auto;
}

#home-view {
  background-color: #e3e3e3
}

#hero {
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}
.logo {
  background-image: url(sinan-bolel.jpeg);
  background-size: cover;
  border-radius: 9rem;
  box-shadow: 0px 0px 1rem #424242;
  margin-left: auto;
  margin-right: auto;
  height: 18rem;
  width: 18rem;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: --apple-system, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, pre, table, blockquote, input, select, textarea {
  margin-bottom: 24px;
  margin-top: 0;
  padding: 0;
}
h6 {
  font-size: 0.75em;
}
h1.large {
  font-size: 3em;
  line-height: 80px;
  font-weight: 300;
}
p.lead {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
i.lg {
  font-size: 5em;
  font-weight: 100;
}

a.md-button.md-default-theme.md-fab,
a.md-button.md-fab,
.md-button.md-default-theme.md-fab,
.md-button.md-fab {
  background-color: rgb(255, 64, 129);
  color: rgb(255, 255, 255);
  height: 4.5rem;
  width: 4.5rem;
}
a md-icon {
  font-size: 3rem;
  margin-top: -0.6rem;
}
.cover {
  margin: 0;
  padding: 0;
}
.fullscreen {
  height: 100vh;
}
.center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.mb20 {
  margin-bottom: 20px;
}
