html,
body {
  margin: 0;
  height: auto;
  min-height: 100%;
  background-color: #e8eaf6
}
#content-view {
  height: auto;
}
a.md-button.md-default-theme.md-fab,
a.md-button.md-fab,
.md-button.md-default-theme.md-fab,
.md-button.md-fab {
  background-color: rgb(255, 64, 129);
  color: rgb(255, 255, 255);
  height: 5rem;
  width: 5rem;
}
#home-view {
  background-color: #e3e3e3
}
#hero {
  background-color: #3f51b5;
  color: #fff;
  text-align: center;
}
.logo {
  background-image: url(sinan-bolel.jpeg);
  background-size: cover;
  border-radius: 9rem;
  box-shadow: 0px 0px 1rem #424242;
  margin-left: auto;
  margin-right: auto;
  height: 18rem;
  width: 18rem;
}
.fade.ng-hide {
  opacity: 0
}
.fade.ng-hide-remove {
  transition: all linear 1s
}
.fade.ng-hide-add {
  transition: all linear .5s
}
.social-icon-button {
  font-size: 3rem;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre,
table,
blockquote,
input,
select,
textarea {
  margin-bottom: 24px;
  margin-top: 0;
  padding: 0;
}
h6 {
  font-size: 0.75em;
}
h1.large {
  font-size: 3em;
  line-height: 80px;
  font-weight: 300;
}
p.lead {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
i.lg {
  font-size: 5em;
  font-weight: 100;
}
.cover {
  margin: 0;
  padding: 0;
}
.fullscreen {
  height: 100vh;
}
.center {
  text-align: center;
}
.t-right {
  text-align: right;
}
/* Sections */
#content {
  padding: 0;
}
.mb20 {
  margin-bottom: 20px;
}
/* Media Queries */
/*
  layout-sm   600px > width       (phones).
  layout-gt-sm  600px < width       (bigger than phones).
  layout-md   600px < width < 960px   (tablets in portrait).
  layout-gt-md  960px < width       (bigger than tablets in portrait).
  layout-lg   960px < width < 1200px  (tablets in landscape).
  layout-gt-lg  1200px < width      (computers and large screens).
*/