html, body {
  background-color: #00AFCB;
  color: #fff;
  height: 100%;
  height: 100vh;
  position: relative;
}

body {
  font-family: --apple-system,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: -1;
}

.hero-cover {
  background-color: #2F526E;
  box-shadow: #f5f5f5 0 12px 150px 6px;
  height: 35%;
  height: 35vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.hero-container {
  height: 30rem;
  position: relative;
  top: 15vh;
  width: 100%;
}

.hero-container > p {
  color: #bdbdbd;
  font-size: 1.125em;
  margin: 1rem 0 1rem .33rem;
  top: -1.5rem;
  width: 15.33rem;
}

.connections {
  margin-top: 2.5rem;
  position: relative;
  z-index: 1;
}

.connections a {
  margin: 0 1rem;
}

.title {
  color: #fafafa;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;
  margin: 0 0 2.5rem;
  padding: 0;
  vertical-align: bottom;
  width: 100%;
}

.logo {
  border-radius: 50%;
  border-width: 8px outset #eee;
  box-shadow: 0 0 1rem #424242;
  height: 13rem;
  margin: 0 0 1rem;
  padding: 0;
  width: 13rem;
}
