button {
  vertical-align: baseline;
}

button, html input[type=button] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled], html input[type=button][disabled], input[type=reset][disabled], input[type=submit][disabled] {
  cursor: default;
}

button.md-button::-moz-focus-inner {
  border: 0;
}

.md-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  box-sizing: border-box;
  letter-spacing: .01em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  border: 0;
  background: 0 0;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  font: inherit inherit 500 14px/36px inherit;
}

.md-dense:not(.md-dense-disabled) .md-button:not(.md-dense-disabled), .md-dense > .md-button:not(.md-dense-disabled) {
  min-height: 32px;
  line-height: 32px;
  font-size: 13px;
}

.md-button:focus {
  outline: 0;
}

.md-button:focus, .md-button:hover {
  text-decoration: none;
}

.md-button.md-icon {
  padding: 0;
  background: 0 0;
}

.md-button.md-raised:not([disabled]) {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.md-button.md-icon-button {
  height: 40px;
  min-width: 0;
  line-height: 24px;
  width: 40px;
  border-radius: 50%;
}

.md-button.md-fab {
  z-index: 20;
  line-height: 56px;
  min-width: 0;
  width: 56px;
  height: 56px;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-transition-property: background-color,box-shadow,-webkit-transform;
  transition-property: background-color,box-shadow,-webkit-transform;
  transition-property: background-color,box-shadow,transform;
  transition-property: background-color,box-shadow,transform,-webkit-transform;
}

.md-button:not([disabled]).md-fab.md-focused, .md-button:not([disabled]).md-raised.md-focused {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.md-button:not([disabled]).md-fab:hover, .md-button:not([disabled]).md-raised:hover,
  .md-button:not([disabled]).md-fab:active, .md-button:not([disabled]).md-raised:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

@media screen and (-ms-high-contrast: active) {
  .md-button.md-fab, .md-button.md-raised {
    border: 1px solid #fff;
  }
}

.md-font, .md-button.md-default-theme.md-fab, .md-button.md-fab {
  color: #fff;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
}

.md-font {
  font-size: 3rem;
}
