<md-card layout="column" ng-init="init()" flex>
  <md-toolbar layout="row" class="md-primary dark">
      <div class="md-toolbar-tools">
        Projects
      </div>
      <span flex></span>
      <div class="button-glyphs" ng-click="createObject('projects')">
        <md-button class="md-fab md-mini md-accent" aria-label="Add Client">
          <i class="ion-plus"></i>
        </md-button>
      </div>
  </md-toolbar>
  <md-card-content layout="column" layout-align="center center" flex>
    <md-content layout="column" layout-fill flex>
      <div ng-if="projects" ui-grid="tableOptions" ui-grid-resize-columns flex="100"></div>
    </md-content>
  </md-card-content>
</md-card>