/* Template: iResources | Author: eriktailor | Version: 1.0 */
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
/* GREEN COLOR SKIN */
/*----------------------------------------------------------*/

a, a:visited {color: #2ecc71;}

.contact-details, .contact-us {background: #2ecc71;}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background: #2ecc71;}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {background: #27ae60;}

.back-top-btn:hover {background: #2ecc71;}

.button {background: #2ecc71;}

.button:hover {background: #27ae60;}

.header .socials i:hover {color: #2ecc71;}

.skill-bar span {background: #2ecc71;}

.menu li span {background: #2ecc71;}

.menu a:hover {color: #2ecc71;}

.slide .btn {background: #2ecc71;}

.slide .btn:hover, .slide .btn.light:hover {background: #27ae60;}

.bt-menu ul:first-of-type li a:hover, .bt-menu ul:first-of-type li a:focus, .bt-menu ul li a:hover:before, .bt-menu ul li a:focus:before {color: #2ecc71;}

.slider-prev:hover, .slider-next:hover {background: #2ecc71;}

.blog-detail .close {background: #2ecc71;}

.blog-detail .close:hover {background: #27ae60;}

.bt-menu ul:nth-of-type(2) li a i:hover {color: #2ecc71;}

.showcase.fullwidth .fullwidth-dt .socials li i:hover {color: #2ecc71;}

.footer-content .links a:hover {color: #2ecc71;}

.showcase-selector i {font-size: 182px; color: #2ecc71;}

.portfolio-item:hover figcaption {background: #2ecc71;}

.showcase.lightbox .portfolio-detail .close {background: #2ecc71; }

.showcase.lightbox .portfolio-detail .close:hover {background: #27ae60;}

.blog-item figcaption {background: #2ecc71; }

.tooltipsy {color: #2ecc71;}

.testimonials .controls i:hover {color: #2ecc71;}

.team-member .socials i:hover {color: #2ecc71;}

.socials-bar .socials i:hover {color: #2ecc71;}

.send-btn {background: #2ecc71;}

.send-btn:hover {background: #27ae60;}







