/* Template: iResources | Author: eriktailor | Version: 1.0 */
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
/* VIOLET COLOR SKIN */
/*----------------------------------------------------------*/

/* Violet: 9C59B6 7A5489  5D1D76  C387DB  C99DDB */
/*C99DDB  9A81A4  75338E  DFBBED  E3C8ED*/

a, a:visited {color: #9b59b6;}

.contact-details, .contact-us {background: #5D1D76;}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background: #9b59b6;}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {background: #8e44ad;}

.back-top-btn:hover {background: #9b59b6;}

.button {background: white;}

.button:hover {background: #8e44ad;}

.header .socials i:hover {color: #9b59b6;}

.skill-bar span {background: #9b59b6;}

.menu li span {background: #9b59b6;}

.menu a:hover {color: #9b59b6;}

.slide .btn {background: #9b59b6;}

.slide .btn:hover, .slide .btn.light:hover {background: #8e44ad;}

.slider {background: #5D1D76}

.bt-menu ul:first-of-type li a:hover, .bt-menu ul:first-of-type li a:focus, .bt-menu ul li a:hover:before, .bt-menu ul li a:focus:before {color: #9b59b6;}

.slider-prev:hover, .slider-next:hover {background: #9b59b6;}

.blog-detail .close {background: #9b59b6;}

.blog-detail .close:hover {background: #8e44ad;}

.closer {background: #9b59b6;}

.closer:hover {background: #8e44ad;}

.bt-menu ul:nth-of-type(2) li a i:hover {color: #9b59b6;}

.showcase.fullwidth .fullwidth-dt .socials li i:hover {color: #9b59b6;}

.footer-content .links a:hover {color: #9b59b6;}

.showcase-selector i {font-size: 182px; color: #9b59b6;}

.portfolio-item:hover figcaption {background: #9b59b6;}

#showcase {background: #E3C8ED;}

.showcase.lightbox .portfolio-detail .close {background: #9b59b6; }

.showcase.lightbox .portfolio-detail .close:hover {background: #8e44ad;}

.blog-item figcaption {background: #9b59b6; }

.tooltipsy {color: #9b59b6;}

.testimonials .controls i:hover {color: #9b59b6;}

.team-member .socials i:hover {color: #9b59b6;}

.socials-bar .socials i:hover {color: #9b59b6;}

.send-btn {background: #5D1D76;}

.send-btn:hover {background: #C387DB;}

.webcasts {background: #ECDDF1;}

.grants {background: #EDEBEB;}

.study-abroad {background: #ffffff}

.about {background: #EDEBEB;}

.giving {background: #C99DDB;}
.giving .section-title h1 {color: white;}
.giving .section-title p {color: white;}
.giving .section-title p strong {color: white;}
.giving .section-title p a {color: #5D1D76;; text-decoration: underline;}
.giving .section-title p a:hover {color: white; text-decoration: underline;}

.home {background: #fff}
.home .container .contents {
  background: #5D1D76;}
.program .container {background: white;}
.program .container .program-description {background: #5D1D76;}


