body,
html {
  background-color: #00afcb;
  color: #fff;
  height: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: --apple-system, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  z-index: -1;
}

.separator {
  line-height: 0;
}

.visible-s,
.visible-xs {
  display: none;
}

@media screen and (max-width:360px) {
  .visible-xs {
    display: inherit;
  }
}

@media screen and (min-width:361px) and (max-width:480px) {
  .visible-s {
    display: inherit;
  }
}

:root {
  --hero-height: 30vh;
  --hero-half-height: calc(var(--hero-height) / 2);
}

.hero-cover {
  background-color: #2f526e;
  box-shadow: #f5f5f5 0 1rem 10rem 1rem;
  height: var(--hero-height);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.hero-container {
  height: var(--hero-height);
  position: relative;
  top: var(--hero-half-height);
  width: 100%;
}

.hero-container > p {
  color: #bdbdbd;
  font-size: 1.125rem;
  margin: 1rem 0 1rem .33rem;
  top: -1.5rem;
  width: 15.33rem;
}

.subtitle,
.title {
  color: #fafafa;
  padding: 0;
  text-shadow: 0 .05rem .1rem #192b3a;
  vertical-align: bottom;
  width: 100%;
}

.title {
  color: #fafafa;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;
  margin: 0 0 2.5rem;
  padding: 0;
  vertical-align: bottom;
  width: 100%;
}

.subtitle {
  color: #e4f4fe;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.75rem;
  margin: 0;
}

.logo {
  border-color: #eee;
  border-radius: 50%;
  border-style: outset;
  border-width: 8px;
  box-shadow: 0 .0625rem 1rem #192b3a;
  margin: 0 0 1rem;
  padding: 0;
  height: 13rem;
  width: 13rem;
  vertical-align: middle;
}

@media screen and (max-height:601px) and (min-height:421px){
  .hero-cover {
    height: calc(var(--hero-height) / 2 + 7.5rem);
  }

  .hero-container {
    top: calc(var(--hero-half-height) / 2);
  }

  .title {
    margin: 0 0 2.5vh;
  }

  .logo {
    height: 10rem;
    width: 10rem;
  }
}

@media screen and (max-height:420px) {
  .hero-cover {
    height: calc(var(--hero-height) / 3 + 5.5rem);
  }

  .hero-container {
    top: calc(var(--hero-half-height) / 3);
  }

  .title {
    margin: 0 0 .25rem;
    font-size: 2.5rem;
  }

  .logo {
    height: 7rem;
    width: 7rem;
    margin: 0 0 .25rem;
  }
}
