<md-content layout="column" style="background-color:#e3e3e3;">

  <div class="cover fullscreen center" layout="column" style="background-color:#3F51B5;color:white" layout-align="center center">
      <span flex></span>
      <div style="width:180px;height:180px;">
        <img style="width:100%;height:100%;" src="assets/images/sb-logo-360-light.png"/>
      </div>
      <h1 class="large">sinanbolel</h1>
      <div layout="row" class="mt20">
        <md-button href="https://www.linkedin.com/in/sinanbolel" target="_blank" class="md-fab" aria-label="LinkedIn">
            <md-tooltip>in/sinanbolel</md-tooltip>
            <md-icon style="font-size:2em;margin-top:-4px;" md-font-icon="ion-social-linkedin"></md-icon>
        </md-button>
        <md-button href="https://github.com/sbolel" target="_blank" class="md-fab" aria-label="Github">
            <md-tooltip>/sbolel</md-tooltip>
            <md-icon style="font-size:2em;margin-top:-4px;" md-font-icon="ion-social-github"></md-icon>
        </md-button>
        <md-button href="https://twitter.com/sinbols" target="_blank" class="md-fab" aria-label="Twitter">
            <md-tooltip>@sinbols</md-tooltip>
            <md-icon style="font-size:2em;margin-top:-4px;" md-font-icon="ion-social-twitter"></md-icon>
        </md-button>
      </div>
      <span flex></span>
      <i style="color:#9FA8DA;font-size:3em;" class="ion-ios-arrow-down"></i>
  </div>

  <div class="cover pt20 pb50" style="background-color:#E8EAF6;color:black;">
    <div layout="column" layout-padding layout-align="center center">
      <h1 class="large mt20 mb0" style="width:100%;max-width:640px;text-align:center;">get in touch</h1>

      <form name="contact" ng-submit="submit()" layout="column" class="mt20" style="width:100%;max-width:640px;">
          <h4>What's your info?</h4>
          <div layout-gt-md="row" layout-md="column">
            <md-input-container flex>
              <label>Name</label>
              <input type="text" ng-model="messageData.name">
            </md-input-container>
            <md-input-container flex>
              <label>Email (required)</label>
              <input type="email" ng-model="messageData.email" required>
            </md-input-container>
          </div>
          <h4>What would you like to discuss?</h4>
          <md-input-container flex>
            <label>Enter a message (required)</label>
            <textarea ng-model="messageData.message" columns="1" md-maxlength="500" required></textarea>
          </md-input-container>
         
        <div flex layout layout-align="center center" class="mb10">
          <input class="md-button md-raised md-accent" type="submit" id="submit" value="Submit" />
        </div>

      </form>
    </div>
  </div>

</md-content>