/* AUTOCOMPLETE */
.autocomplete {
  width: 100%;
  position: relative;
  color: black;
}
.autocomplete input{
  /*font-size: 1.2em;*/
  width: 100%;
  border-width: 0 0 1px 0 !important;
  /*padding:0.4em;*/
}
.autocomplete ul{
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.117647);
  padding-left: 0;
  z-index: 1;
  list-style:none;
}
.autocomplete li{
  text-align: left;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}
.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}
.autocomplete .highlight {
  background-color: #E2E2E2;
}
.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}

