<div layout="column" style="background-color:#e3e3e3;">

  <md-card layout="column" class="cover fullscreen background mb60" layout-align="center center">
    <md-card-content layout="row">
      <div flex flex-sm="90" flex-md="70" flex-gt-md="70" style="position:absolute;left:1em;">
        <h1 class="large">Let's Think Crazy.</h1>
        <h6 class="uppercase">remarkable solutions for groovy projects</h6>
      </div>
      <span flex></span>
    </md-card-content>
  </md-card>

  <md-card ng-controller="LeadsController" class="cover mt40 pb30">
    <md-card-content layout="column" layout-align="center center">
      <h1 class="large mt20" style="width:100%;max-width:640px;text-align:left;">get in touch</h1>
      <form name="contact" style="width:100%;max-width:640px;">
        <h4>What's your info?</h4>
          <md-input-container flex>
            <label>Name</label>
            <input type="text" ng-model="leadData.name">
          </md-input-container>
          <md-input-container flex>
            <label>Email (required)</label>
            <input type="email" ng-model="leadData.email">
          </md-input-container>
          <h4>What would you like to discuss?</h4>
          <md-input-container flex>
            <label></label>
            <textarea ng-model="leadData.message" columns="1" md-maxlength="500"></textarea>
          </md-input-container>
        </div>
<!--         
        <div class="mt20" style="text-align:right;">
          <md-button class="md-raised md-primary" ng-click="submit()">submit</md-button>
        </div>
-->
      </form>
    </md-card-content>
  </md-card>

</div>