<div layout="row" ng-init="init()">
  <div flex="20"></div>
  <md-card layout="column" flex="60">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <span>Create your account</span>
      </div>
    </md-toolbar>
    <md-card-content layout="column" layout-align="center center" style="padding:0">
      <md-content flex layout-fill>
        <form name="signup" layout="row" layout-sm="column" flex>
        <md-input-container flex>
            <label>Email</label>
            <input ng-model="incomingUser.email" type="email" name="email" required>
          </md-input-container>
          <span flex="5"></span>
          <md-input-container flex>
            <label>Password</label>
            <input ng-model="incomingUser.password" type="password" name="password" required>
          </md-input-container>
          <md-button type="submit" value="Save" ng-click="signupWithPassword()" ng-disabled="!incomingUser.email || !incomingUser.password" flex="20" class="md-primary" aria-label="Submit">
            Submit
          </md-button>
        </form>
      </md-content>
    </md-card-content>
  </md-card>
</div>
<small id="alert-message" class="disabled" layout="row" layout-align="center center" layout-margin ng-model="alert"></small>